:root {
    --primary-color: rgb(255, 13, 178);
    --accent-color: rgb(200, 40, 230);
}



body {
    margin: 0;
    padding: 0;
    padding-top: 10vh;
    height: 90vh;
    background-image: url(/pics/desktopDunkel\ \(3\).png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow-y: hidden;
    
}

main {
    display: flex;
    justify-content: space-around;

}
#clock {
margin-bottom: 15px;
font-size: 4em;
color: var(--primary-color);
text-shadow: 2px 2px 3px black;
}

#clock,
#joke {
    text-align: center;
}

main > div.link-container {
    border: 2px double var(--accent-color);
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(0,0,0,.3);
    font-size: 1.2em;
    min-width: 200px;
}

main > div.link-container > ul {
    list-style-type: none;
    padding-left: 0;
}

main > div.link-container > h3 {
    margin-top: 10px;
    color: var(--primary-color);
    text-shadow: 2px 2px 3px black;
}

main > div.link-container > ul > li > a {
    color: #fefefe;
    text-decoration:none;
}


@media (maxwidth: 1080p) {

}