:root{
    --text-shadow: 1px 1px 4px black;
}
body {
    background: linear-gradient(
        180deg,
        rgba(55, 7, 59, 1) 0%,
        rgba(14, 173, 177, 1) 100%
    );
    background-repeat: no-repeat;
    height: 100vh;
    margin:0;
    padding:0;
    color: white;
}


form {

    display:grid;
    width: 700px;
    grid-template-columns: 1fr 1fr;
    font-size: 1.2rem;
    gap: 20px;
    margin: 40px ; 
 
}

form>h2 {
    grid-column: span 2;
}

form > p {
    grid-column: span 2;
}

form > input[type=submit] {
    grid-column: span 2;
}

.radiogroup {
    grid-column: span 2;

}
.radiogroup > #gender-title {
    font-size: 1.3em;
    margin-bottom: 15px;
}
.radiogroup > label {
    margin-right: 20px;
    
}

form > .formgroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-size: 1.2em;
}

form > .formgroup > label {
    font-size: 1.2em;
    font-weight: 600;
    text-shadow: 1px 1px 4px black;
}

form > .formgroup > input {
    font-size: .9em;
    padding: 7px;
    border-radius: 10px;
}